In [1]:
import pandas as pd

In [2]:
# Load the loan data
loan_df = pd.read_csv("loan.csv", low_memory=False)
loan_df.shape

(39717, 111)

In [3]:
loan_df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [4]:
# Find out percentage of missing values in each column
columns = loan_df.columns
percent_missing = loan_df.isnull().sum() * 100 / len(loan_df)
missing_value_df = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', ascending = False, inplace=True)
missing_value_df[missing_value_df.percent_missing == 100]

,column_name,percent_missing
verification_status_joint,verification_status_joint,100.0
annual_inc_joint,annual_inc_joint,100.0
mo_sin_old_rev_tl_op,mo_sin_old_rev_tl_op,100.0
mo_sin_old_il_acct,mo_sin_old_il_acct,100.0
bc_util,bc_util,100.0
bc_open_to_buy,bc_open_to_buy,100.0
avg_cur_bal,avg_cur_bal,100.0
acc_open_past_24mths,acc_open_past_24mths,100.0
inq_last_12m,inq_last_12m,100.0
total_cu_tl,total_cu_tl,100.0
inq_fi,inq_fi,100.0
total_rev_hi_lim,total_rev_hi_lim,100.0
all_util,all_util,100.0
max_bal_bc,max_bal_bc,100.0
open_rv_24m,open_rv_24m,100.0
open_rv_12m,open_rv_12m,100.0
il_util,il_util,100.0
total_bal_il,total_bal_il,100.0
mths_since_rcnt_il,mths_since_rcnt_il,100.0
open_il_24m,open_il_24m,100.0
open_il_12m,open_il_12m,100.0
open_il_6m,open_il_6m,100.0
open_acc_6m,open_acc_6m,100.0
tot_cur_bal,tot_cur_bal,100.0
tot_coll_amt,tot_coll_amt,100.0
mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_rev_tl_op,100.0
mo_sin_rcnt_tl,mo_sin_rcnt_tl,100.0
mort_acc,mort_acc,100.0
num_rev_tl_bal_gt_0,num_rev_tl_bal_gt_0,100.0
total_bc_limit,total_bc_limit,100.0
total_bal_ex_mort,total_bal_ex_mort,100.0
tot_hi_cred_lim,tot_hi_cred_lim,100.0
percent_bc_gt_75,percent_bc_gt_75,100.0
pct_tl_nvr_dlq,pct_tl_nvr_dlq,100.0
num_tl_op_past_12m,num_tl_op_past_12m,100.0
num_tl_90g_dpd_24m,num_tl_90g_dpd_24m,100.0
num_tl_30dpd,num_tl_30dpd,100.0
num_tl_120dpd_2m,num_tl_120dpd_2m,100.0
num_sats,num_sats,100.0
num_rev_accts,num_rev_accts,100.0
mths_since_recent_bc,mths_since_recent_bc,100.0
num_op_rev_tl,num_op_rev_tl,100.0
num_il_tl,num_il_tl,100.0
num_bc_tl,num_bc_tl,100.0
num_bc_sats,num_bc_sats,100.0
num_actv_rev_tl,num_actv_rev_tl,100.0
num_actv_bc_tl,num_actv_bc_tl,100.0
num_accts_ever_120_pd,num_accts_ever_120_pd,100.0
mths_since_recent_revol_delinq,mths_since_recent_revol_delinq,100.0
mths_since_recent_inq,mths_since_recent_inq,100.0
mths_since_recent_bc_dlq,mths_since_recent_bc_dlq,100.0
dti_joint,dti_joint,100.0
total_il_high_credit_limit,total_il_high_credit_limit,100.0
mths_since_last_major_derog,mths_since_last_major_derog,100.0

In [5]:
# list the columns that have 100% missing values
list(missing_value_df.loc[missing_value_df.percent_missing == 100,'column_name'])

['verification_status_joint',
 'annual_inc_joint',
 'mo_sin_old_rev_tl_op',
 'mo_sin_old_il_acct',
 'bc_util',
 'bc_open_to_buy',
 'avg_cur_bal',
 'acc_open_past_24mths',
 'inq_last_12m',
 'total_cu_tl',
 'inq_fi',
 'total_rev_hi_lim',
 'all_util',
 'max_bal_bc',
 'open_rv_24m',
 'open_rv_12m',
 'il_util',
 'total_bal_il',
 'mths_since_rcnt_il',
 'open_il_24m',
 'open_il_12m',
 'open_il_6m',
 'open_acc_6m',
 'tot_cur_bal',
 'tot_coll_amt',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'num_rev_tl_bal_gt_0',
 'total_bc_limit',
 'total_bal_ex_mort',
 'tot_hi_cred_lim',
 'percent_bc_gt_75',
 'pct_tl_nvr_dlq',
 'num_tl_op_past_12m',
 'num_tl_90g_dpd_24m',
 'num_tl_30dpd',
 'num_tl_120dpd_2m',
 'num_sats',
 'num_rev_accts',
 'mths_since_recent_bc',
 'num_op_rev_tl',
 'num_il_tl',
 'num_bc_tl',
 'num_bc_sats',
 'num_actv_rev_tl',
 'num_actv_bc_tl',
 'num_accts_ever_120_pd',
 'mths_since_recent_revol_delinq',
 'mths_since_recent_inq',
 'mths_since_recent_bc_dlq',
 'dti_joint',
 'total_il_high_credit_limit',
 'mths_since_last_major_derog']

In [6]:
# drop columns that have 100% mising values
loan_df.drop(columns=list(missing_value_df.loc[missing_value_df.percent_missing == 100,'column_name']),inplace = True)
loan_df.shape

(39717, 57)

In [7]:
# find out columns that have 0 standard deviation
loan_df.std() == 0.0

id                            False
member_id                     False
loan_amnt                     False
funded_amnt                   False
funded_amnt_inv               False
installment                   False
annual_inc                    False
dti                           False
delinq_2yrs                   False
inq_last_6mths                False
mths_since_last_delinq        False
mths_since_last_record        False
open_acc                      False
pub_rec                       False
revol_bal                     False
total_acc                     False
out_prncp                     False
out_prncp_inv                 False
total_pymnt                   False
total_pymnt_inv               False
total_rec_prncp               False
total_rec_int                 False
total_rec_late_fee            False
recoveries                    False
collection_recovery_fee       False
last_pymnt_amnt               False
collections_12_mths_ex_med     True
policy_code                    True
acc_now_delinq                 True
chargeoff_within_12_mths       True
delinq_amnt                    True
pub_rec_bankruptcies          False
tax_liens                      True
dtype: bool

In [8]:
# find out columns that have 0 standard deviation
loan_df.std()[loan_df.std() == 0.0]

collections_12_mths_ex_med    0.0
policy_code                   0.0
acc_now_delinq                0.0
chargeoff_within_12_mths      0.0
delinq_amnt                   0.0
tax_liens                     0.0
dtype: float64

In [9]:
# dropping column with standard deviation 0
loan_df.drop(loan_df.std()[loan_df.std() == 0.0].index.values, axis=1,inplace = True)
loan_df.shape

(39717, 51)

In [10]:
# checking whether there are columns having single values. Standard deviation check will not work for non-numeric columns
uniques = loan_df.apply(lambda x: x.nunique())
uniques[uniques==1]

pymnt_plan             1
initial_list_status    1
application_type       1
dtype: int64

In [11]:
# dropping columns having single values
loan_df = loan_df.drop(uniques[uniques==1].index, axis=1)
loan_df.shape

(39717, 48)

In [12]:
# checking whether there are duplicate rows
loan_df.duplicated().sum()

0

In [13]:
# writing load data frame with reduced columns in a csv
loan_df.to_csv('loan_df_reduced.csv')

In [18]:
# detecting numeric and non-numeric columns
cols = loan_df.columns
num_cols = loan_df._get_numeric_data().columns
print('List of Numeric columns')
print(num_cols)

not_num_cols = list(set(cols) - set(num_cols))
print('Non-Numeric columns')
print(not_num_cols)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'pub_rec_bankruptcies'],
      dtype='object')

['addr_state',
 'zip_code',
 'desc',
 'loan_status',
 'int_rate',
 'emp_length',
 'emp_title',
 'last_credit_pull_d',
 'term',
 'revol_util',
 'last_pymnt_d',
 'issue_d',
 'next_pymnt_d',
 'earliest_cr_line',
 'grade',
 'purpose',
 'sub_grade',
 'verification_status',
 'home_ownership',
 'url',
 'title']

In [22]:
# read in data dictionary
data_dict = pd.read_csv('Data_Dictionary.csv', encoding = 'latin-1')
data_dict.head()

            LoanStatNew                                        Description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util              Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

In [23]:
# subset data dictionary for the reduced columns in data dictionary 
data_dict_reduced = data_dict.loc[data_dict['LoanStatNew'].isin(loan_df.columns)]
data_dict_reduced.loc[:,'data_type'] = data_dict_reduced['LoanStatNew'].apply(lambda x: 'Numeric' if x in num_cols else 'Not-Numeric')
data_dict_reduced.shape

(48, 3)

In [24]:
# write reduced data dictionary to a csv file.
data_dict_reduced.to_csv('data_dict_reduced.csv')
data_dict_reduced.head()

,LoanStatNew,Description,data_type
2,addr_state,The state provided by the borrower in the loan...,Not-Numeric
4,annual_inc,The self-reported annual income provided by th...,Numeric
11,collection_recovery_fee,post charge off collection fee,Numeric
13,delinq_2yrs,The number of 30+ days past-due incidences of ...,Numeric
15,desc,Loan description provided by the borrower,Not-Numeric